button{
    color: #ffffff;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 80px;
    font-weight: 900;
}

.Delete{
    background-color: brown;
    &:hover{
        background-color: rgb(207, 56, 56);
    }
}

.Add{
    background-color: rgb(21, 240, 58);
    &:hover{
        background-color: rgb(17, 197, 47);
    }
}
