body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

header{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 6px 12px;
}

main{
    padding: 6px 12px;
}

.title{
    display: flex;
    justify-content: center;
    padding: 6px 12px;
    text-decoration: wavy;
}
